<!doctype html>
<html>
<head>
    <title>data model visualisation</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet" type="text/css"/>

    <style type="text/css">

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #ffffff;
            height: 100vh;
        }

    </style>
</head>
<body id="mynetwork">

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([

        #foreach($t in $model.tables)
            {id: $t.hashCode(), label: '$t.tableName', shape: 'box', color: "#$t.color"} #if( $foreach.hasNext ), #end
        #end]);

    // create an array with edges
    var edges = new vis.DataSet([
        #foreach($t in $model.tableConnections)
            {from: $t.left.hashCode(), to: $t.right.hashCode()} #if( $foreach.hasNext ), #end
        #end]);

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        edges: {
            arrows: {
                from: {enabled: true, scaleFactor: 0.5}
            },
            color: '#444444'
        },
        nodes: {
            font: {
                face: "Arial",
                size: 10
            }
        },
        layout: {}
    };
    var network = new vis.Network(container, data, options);
</script>


</body>
</html>
