#if (${model.tableType} eq 'HUB')
-- hub
-- entity        ${model.entityName}
-- source_system #TODO#
-- sql --------------------------------

Select 1 As ${model.entityName.toLowerCase()}_bk
  From dual
#end
#if (${model.tableType} eq 'SAT')
-- sat
-- entity        ${model.entityName}
-- datagroup     ${model.qualifier}
-- source_system #TODO#
-- load_method   #full/insert/delta#
-- sql --------------------------------

Select #foreach ($c in $model.hubs)1 as ${c.entityName}_BK,
#end #foreach ($c in $model.nonTechnicalColumns)
       null as ${c.columnName.toLowerCase()} #if( $foreach.hasNext ), #end
#end  From dual

#end
#if (${model.tableType} eq 'LNK')
-- link
-- name          ${model.entityName}
-- source_system #TODO#
-- sql --------------------------------

Select #foreach ($c in $model.connectedHubs)1 as ${c.entityName.toLowerCase()}_bk #if ($foreach.hasNext), #end

#end  From dual

#end
#if (${model.tableType} eq 'REF')
-- ref
-- name          ${model.entityName}
-- source_system #TODO#
-- sql --------------------------------

Select #foreach ($c in $model.nonTechnicalColumns) null as ${c.columnName.toLowerCase()}#if ($foreach.hasNext), #end
#end

  From dual

#end